body {
  background-color: #1A1A1D;
  color: #F0F0F0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  background-color: #F0F0F0;
  color: #1A1A1D;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 5px auto;
}

.answer-button {
  margin: 5px 5px auto;
}

.answer-button:disabled {
  background-color: #D9D9D9;
  cursor: not-allowed;
}

button:hover {
  background-color: #D9D9D9;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.options-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.options-container label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.options-container input[type="range"] {
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.options-container input[type="range"]:hover {
  opacity: 1;
}

.options-container input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin: 10px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats-container p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
}
